

.background{
	margin-left:39.5vw;

	padding-top: 10vw
}


.homeHead{

	text-align: center;
}

.buttonSubmit{
	text-align: center; 
}


.submittedHead{
	text-align: center;
}
.submissions{

	margin-left: 35vw;
}
